*,*:after,*:before
{
    margin: 0;
    padding: 0;
    box-sizing: padding-box;
}

.clearfix
{
    clear: both;
}

.container
{
    width: 75%;
    margin: auto;
    text-align: center;
}

header
{
    background-image: url(../Images/cyril-corallo-island-single.jpg);
    height: 48em;
    width: 100%;
    background-size: cover;
    margin-bottom: 2em;
}

.center{
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.center h1,p{
    color: white;
    font-weight: bold;
}

.btn {
  border-radius: 0.8em;
    width: 20em;
    height: 3em;
    outline: none;
}

.btn:after{
    outline: none;
}

.btn span{
  font-size: 1.5em;
}

.btn:hover{
    border-left: white solid 0.5em;
    border-right: white solid 0.5em;
}

body
{
    background-color: black;
    color: white;
}

.box
{
    padding: 2em;
    background-color: #060c21;
    border-bottom: 1px solid; 
    border-top: 1px solid; 
    border-bottom-color: aqua;
    border-top-color: aqua;
    border-radius: 0.75em;
    z-index: -1;
    margin: 0.5em 0em;
}

.number{
    color: white;
    font-size: 9em;
    margin-left: 10%;
    transition: 1s;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
}

.title h2{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-left: 15%;
}

.title p{
    font-size: 1.2em;
    text-align: center;
    margin-left: 15%;
}

span
{
    color: white;
    font-size: 11em;
    transition: 1s;
    font-weight: bold;
    font-family: inherit;
    text-align: center;   
}

img
{
    width: 12em;
    height: 12em;
    border-radius: 4em;
}

.gameBtn {
    border-radius: 0.8em;
    width: 12em;
    height: 3em;
    outline: none;
    margin-top: 1.5em;
}



.gameBtn span{
    font-size: 1.5em;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
    color: white;
}

.gameBtn:hover{
    border-left: white solid 0.5em;
    border-right: white solid 0.5em;
}


.footer
{
    text-align: center;
    background-color: black;    
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: .5%;
    color: rgba(250,250,250,0.85);
    opacity: 0;
    transition: 2s;
}

.footer:hover
{
    opacity: 1;
}

i
{
    color: white;
    transition: 1.5s;
}

i:hover
{
    cursor: default;
    color: aqua;
    transition: 1.5s;
}


.list{
    background-color: black;
    border-radius: 1em;
}

.end{
    text-align: center;
    padding-top: 1em;
    margin-bottom: 2em;
    background-color: black;
    border-bottom: 1px solid; 
    border-top: 1px solid; 
    border-bottom-color: aqua;
    border-top-color: aqua;
    border-radius: 0.5em;
    cursor: default;
}
